:root {
  --main-color: #dcf2f1;
  --container-color: #04364a;
  --font-color: #dafffb;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: var(--main-color); */
  background-image: url("../img/home-4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: blur(10px);
}

.container {
  background-color: var(--container-color);
  color: #fff;
  max-width: 600px;
  padding: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-label {
  color: var(--main-color);
  font-size: 1.3rem;
}

h1 {
  color: var(--font-color);
}

.link {
  font-style: italic;
  text-align: center;
  width: 100%;
}

a {
  color: var(--font-color);
}
